@font-face {
    font-family: "PT Mono";
    src: url(sansation_light.woff);
}

@font-face {
    font-family: "PT Mono bold";
    src: url(sansation_light.woff);
		font-weight: bold;
}


body, html {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	font-family: 'PT Sans', sans-serif;
}
a {
	color: #000;
	font-family: 'PT Mono', monospace;
}
ul {
	list-style: none;
	padding: 0;
}
* {
  box-sizing: border-box;
}
input[type="text"],input[type="email"] {
	/* Remove First */
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	/* Then Style */
	border-radius: 8px;
	border: 1px solid #BBB;
	padding: 10px;
	line-height: 20px;
	text-align: left;
	background: transparent;
	outline: none;
	width: 50%;
	height: 45px;
	font-size: 1em;
	font-weight: 700;
}
textarea {
	/* Remove First */
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	resize: none;

	/* Then Style */
	border-radius: 8px;
	border: 1px solid #BBB;
	padding: 10px;
	line-height: 20px;
	text-align: center;
	background: transparent;
	outline: none;
	width: 50%;
	height: 140px;
	font-size: 1em;
	font-weight: 700;
}
label {
	font-family: 'PT Sans', sans-serif;
}
button {
	cursor: pointer;
	font-size: 1em;
	font-weight: 700;
}
button:focus {
	outline: none;
}
button:active {
  color: rgb(51,51,51);
  border: 1px solid rgb(204,204,204);
  background: rgb(238,238,238) linear-gradient(rgb(238,238,238), rgb(224,224,224));
  box-shadow: 0 1px 2px rgba(0,0,0,.1) inset;
}

/* Style the tab */
div.tab {
    overflow: hidden;
}

/* Style the buttons inside the tab */
div.tab button {
    background-color: inherit;
    border: none;
    outline: none;
    cursor: pointer;
    transition: 0.3s;
}

/* Change background color of buttons on hover */
div.tab button:hover {
}

/* Create an active/current tablink class */
div.tab button.active {
}

/* Style the tab content */
.tabcontent {
    display: none;
    border-top: none;
}

.send-btn {
	font-family: 'PT Mono', monospace;
	display: flex;
	font-weight: 500;
	text-decoration: none;
	padding: 10px 25px 10px 25px;
	color: white;
	background: #ce5fba;
	margin-top: 20px;
	margin-bottom: 20px;
	height: 50px;
	font-size: 1.1em;
	background: -moz-linear-gradient(top, #ce5fba 0%, #b55385 51%, #a03172 100%); 
	background: -webkit-linear-gradient(top, #ce5fba 0%,#b55385 51%,#a03172 100%);
	background: linear-gradient(to bottom, #ce5fba 0%,#b55385 51%,#a03172 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ce5fba', endColorstr='#a03172',GradientType=0 ); 
	border-radius: 5px;
	border: none;
}
.squaredThree {
  position: relative;
}
.squaredThree label {
  width: 30px;
  height: 30px;
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 4px;
	border: 2px solid #06c3ff;
}
.squaredThree label:after {
	content: '';
	width: 30px;
	height: 14px;
	position: absolute;
	top: -2px;
	left: 1px;
	border: 5px solid #06c3ff;
	border-top: none;
	border-right: none;
	background: transparent;
	opacity: 0;
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
}
.squaredThree label:hover::after {
  opacity: 0.3;
}
.squaredThree input[type=checkbox] {
  visibility: hidden;
}
.squaredThree input[type=checkbox]:checked + label:after {
  opacity: 1;
}
.text-for-lable {
	margin-left: 40px;
	line-height: 0px;
	font-size: 1.1em;
}
#header {
	width: 75%;
	margin: 10px auto 10px auto;
	position: relative;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	align-content: center;
	flex-direction: row;
	margin: auto;
}
#header ul {
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;
	align-content: center;
	flex-direction: row;
	list-style: none;
	padding: 0;
	width: 70%;
}
#header ul li a {
	border-bottom: 1px solid #000;
	font-weight: 700;
	text-decoration: none;
	margin: 10px;
	font-size: 1.563em;
	margin: auto;
}
.main-container {
	width: 75%;
	margin: 0 auto;
	left: 0;
	right: 0;
}
#header .button-buy {
	display: flex;
	height: 50px;
	font-weight: 500;
	font-size: 1.563em;
	text-decoration: none;
	padding: 10px 20px 10px 20px;
	margin: 40px auto;
	color: white;
	background: #ce5fba;
	background: -moz-linear-gradient(top, #ce5fba 0%, #b55385 51%, #a03172 100%); 
	background: -webkit-linear-gradient(top, #ce5fba 0%,#b55385 51%,#a03172 100%);
	background: linear-gradient(to bottom, #ce5fba 0%,#b55385 51%,#a03172 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ce5fba', endColorstr='#a03172',GradientType=0 ); 
	border-radius: 5px;
}
#position-1 {
	background: url(/images/first-position.png);
	height: 1120px;
	width: 100%;
	background-position: 50% 50%;
	background-size: cover;
	margin: 0;
	padding: 0;
	background-repeat: no-repeat;
}
#position-1:after {
	content: '';
	background: url(/images/first-bg.png);
	background-position: 50% 50%;
	background-size: cover;
	background-repeat: no-repeat;
}
#footer {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	align-content: center;
	flex-direction: column;
	background: url('/images/footer-bg.png') no-repeat 50% 50%;
	background-size: cover;
	height: auto;
	color: #fff;
}
#footer a {
	color: #fff;
}
#footer .rule {
	color: #3fb5f1;
}
#footer .footer-social {
    padding: 40px;
}
#footer .footer-social ul {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	align-content: center;
	flex-direction: row;
	margin: 10px;
}
#footer .footer-copy {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	align-content: center;
	margin: 0 auto;
	flex-direction: row;
	width: 75%;
}
#position-1 {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	align-content: center;
	flex-direction: column;
	font-family: 'PT Mono', monospace;
	color: #fff;
}
#position-1 .main-logo {
	background: url('/images/logo.png') no-repeat 50% 50%;
	margin: 0 auto;
	display: flex;
	height: 600px;
	width: 100%;
	background-size: contain;
	margin-top: -100px;
}
#position-1 .middle-box {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	align-content: center;
	flex-direction: row;
	font-size: 2.188em;
	margin-top: 50px;
	margin-bottom: 50px;
}
#position-1 .middle-box .first-box {
	padding: 15px 20px 15px 20px;
	border-radius: 8px;
	border: 1px solid #fff;
	display: flex;
	align-content: center;
	align-items: center;
	text-align: center;
}
#position-1 .middle-box .second-box .image {
	background: url('/images/arrow.png') no-repeat 50% 50%;
	background-size: contain;
	width: 80px;
	height: 100px;
	margin-right: 20px;
}
#position-1 .middle-box .second-box {
	display: flex;
	align-content: center;
	align-items: center;
	text-align: center;
}
#position-1 .info-text {
	font-size: 2.5em;
	text-align: center;	
	font-family: 'PT Sans', sans-serif;
	width: 70%;
	margin: 40px auto 20px auto;
}
#position-2 {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	align-content: center;
	flex-direction: column;
	font-family: 'PT Mono', monospace;

}
#position-2:before {
    content: '';
    background: url(/images/first-bg.png);
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
    height: 125px;
}
#position-2 .header {
	font-size: 6.250em;
	font-weight: 700;
	text-align: justify;
}
#position-2 .header:after {
	content: "";
  display: inline-block;
  width: 100%;
}
#position-2 .subheader {
	font-size: 2.5em;
	font-weight: 900;
	text-align: center;
  margin-top: -50px;
	margin-bottom: 30px;
	padding: 50px;
	width: 800px;
	margin-left: auto;
	margin-right: auto;
}
#position-2 .main-box {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	align-content: center;
	flex-direction: row;
}
#position-2 .main-box .panel-box{
	text-align: center;
	width: 30%;
}
#position-2 .arrow-yellow {
	background: url('/images/yellow-arrow-down.png') no-repeat 50% 50%;
	height: 50px;
	background-size: contain;
	margin-bottom: 20px;
}
#position-2 .arrow-pink {
	background: url('/images/pink-arrow-down.png') no-repeat 50% 50%;
	height: 50px;
	background-size: contain;
	margin-bottom: 20px;
}
#position-2 .arrow-blue {
	background: url('/images/blue-arrow-down.png') no-repeat 50% 50%;
	height: 50px;
	background-size: contain;
	margin-bottom: 20px;
}
#position-3 {
	margin-top: 100px;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	align-content: center;
	flex-direction: column;
	font-family: 'PT Mono', monospace;
	background: url('/images/prog-bg.png') no-repeat 50% 50%;
	background-size: cover;
	height: 1730px;
}
#position-3 .header {
	font-size: 6.250em;
	font-weight: 700;
	margin-bottom: 60px;
}
#position-3 .header-text {
	font-family: 'PT Sans', sans-serif;
	font-size: 1.875em;
	margin-top: 25px;
	margin-bottom: 25px;
}
#position-3 .main-text {
	display: none;
	font-size: 1.250em;
}
#position-3 .default-text {
	display: flex;
	font-size: 2.651em;
	font-weight: 700;
	align-content: left;
	flex-direction: column;
}
#position-3 .game-zone .kvest-help {
	font-size: 0.450em;
	font-weight: 500;
	text-decoration: none;
}
#position-3 .mini-box {
	display: flex;
	align-items: center;
	text-align: left;
	flex-direction: row;
	width: 37.5%;
	height: 170px;
	padding-right: 15px;
	margin-top: 25px;
	margin-bottom: 25px;
	margin-right: 10%;
}
#position-3 .mini-box-2 {
	display: flex;
	align-items: center;
	text-align: left;
	flex-direction: row;
	width: 37.5%;
	height: 170px;
	padding-right: 15px;
	margin-top: 25px;
	margin-bottom: 25px;
}
#position-3 .mini-box:hover .default-text {
	display: none;
}
#position-3 .mini-box:hover {
	background-size: contain !important;
}
#position-3 .mini-box:hover .main-text {
	display: flex;
	align-content: left;
	flex-direction: column;
	z-index: 5000;
	color: #fff;
	width: calc(99% - 100px);
}
#position-3 .mini-box-2:hover .default-text {
	display: none;
}
#position-3 .mini-box-2:hover {
	background-size: contain !important;
}
#position-3 .mini-box-2:hover .main-text {
	display: flex;
	align-content: left;
	flex-direction: column;
	z-index: 5000;
	color: #fff;
	width: calc(99% - 100px);
}
#position-3 .game-zone .mini-box-2:hover .main-text {
	color: #000;
}
#position-3 .game-zone .mini-box:hover .main-text {
	color: #000;
}
#position-3 .default-container {
	display: flex;
	justify-content: left;
	flex-wrap: wrap;
	align-content: center;
	flex-direction: row;

}
#position-3 .image {
	background-color: #000000;
	-webkit-mask-size: 400px !important;
	mask-size: 400px !important;
	width: calc(1% + 100px);
	height: 70px; 
	margin-left: 35px;
	margin-right: 10px;
	background-size: contain !important;
}
#position-3 .game-zone {
	display: flex;
	justify-content: left;
	flex-wrap: wrap;
	align-content: center;
	flex-direction: row;
}
#position-4 {
	margin-top: 100px;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	align-content: center;
	flex-direction: column;
	font-family: 'PT Sans', sans-serif;
	background: url('/images/bil-bg.png') no-repeat 50% 50%;
	background-size: cover;
	height: 900px;
	margin-top: -40px;
}
#position-4 .header {
	font-size: 6.250em;
	font-weight: 700;
	font-family: 'PT Mono', monospace;
	margin-top: -150px;
}
#position-4 .subheader {
	font-size: 1.875em;
	font-weight: 900;
	text-align: left;
	margin-top: 30px;
	margin-bottom: 60px;
	width: 70%;
}
#position-4 .input-header {
	font-size: 1.250em;
}
#position-4 .text-for-lable {
	font-size: 1.250em;
}
#position-4 .send-email {
	display: flex;
	justify-content: left;
	flex-wrap: wrap;
	align-content: left;
	flex-direction: row;
	margin-top: 10px;
	margin-bottom: 30px;
	position: relative;
}
#position-4 .ps-email {
	width: 100%;
	height: 50px;
	border: none;
	background: #fff;
}
#position-4 .send-btn {
	width: auto;
	margin: 0;
	position: absolute;
	right: 0;
	border-radius: 0 5px 5px 0;
}

#position-5 {
	margin-top: 100px;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	align-content: center;
	flex-direction: column;
	font-family: 'PT Sans', sans-serif;
}
#position-5 .header {
	font-size: 6.250em;
	font-weight: 700;
	font-family: 'PT Mono', monospace;
}
#position-5 .subheader {
	font-size: 1.875em;
	font-weight: 900;
	text-align: left;
	margin-top: 20px;
	margin-bottom: 30px;
}
#position-5 .bg-middle {
	background: url('/images/bg-middle.png') no-repeat 50% 50%;
	background-size: cover;
	width: 100%;
	height: 100%;
}
#position-5 .bg-middle-main {
	height: 760px;
	margin-top: -640px;
	position: absolute;
	left: 0;
	width: 100%;
}
#position-5 .agitation {
	margin-bottom: 700px;
}
#position-5 .panel {
	margin-top: 50px;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	align-content: center;
	flex-direction: column;
}
#position-5 .panel .tab {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	align-content: center;
	flex-direction: row;
	font-size: 3em;
	font-family: 'PT Mono', monospace;
	
}
#position-5 .panel .tab span {
	border-bottom: 1px solid #aaa;
}
#position-5 .panel .tabcontent {
	justify-content: space-between;
	width: 100%;
	align-content: center;
	align-items: center;
	text-align: center;
	flex-direction: row;
	flex-wrap: wrap;
}
#position-5 .agitation {
	display: flex;
	justify-content: center;
	align-content: center;
	flex-direction: row;
}
#position-5 .input-email {
	width: 50%;
	margin-right: 30px;
}
#position-5 .input-email .send-btn {
	width: 100%;
	padding: 0;
	text-align: center;
	display: block;
	margin: 0;
		background: #87e0fd; /* Old browsers */
		background: -moz-linear-gradient(top,  #87e0fd 0%, #53cbf1 40%, #05abe0 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #87e0fd 0%,#53cbf1 40%,#05abe0 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #87e0fd 0%,#53cbf1 40%,#05abe0 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#87e0fd', endColorstr='#05abe0',GradientType=0 ); /* IE6-9 */
}
#position-5 .input-text {
	width: 30%;
	font-size: 1.250em;
}
#position-5 .panel .tabcontent .content-tab {
	width: 30%;
}
#position-5 .panel .tabcontent .content-tab .text {
	text-align: left;
	height: 60px;
	width: 65%;
}
#position-5 .panel .tabcontent .content-tab .icon {
	width: 110px;
	height: 110px;
}
#position-5 .panel .tab .tablinks:nth-child(1).active {
	background: url(/images/bg-tab-1.png) no-repeat 50% 50%;
	background-size: cover;
	border-bottom: none;
	margin-right: 80px;
}
#position-5 .panel .tab .tablinks:nth-child(2).active {
	background: url(/images/bg-tab.png) no-repeat 50% 50%;
	background-size: cover;
	border-bottom: none;
	margin-left: 40px;
	margin-right: 40px;
}
#position-5 .panel .tab .tablinks:nth-child(3).active {
	background: url(/images/bg-tab-2.png) no-repeat 50% 50%;
	background-size: cover;
	border-bottom: none;
	width: 455px;
}
#position-5 .panel .tab .active span {
	border-bottom: none;
}
#position-5 .panel .tablinks {
	height: 100px;
	width: 365px;
	margin: auto 10px auto 10px;
}
#position-5 .panel .tabcontent .button {
	height: 100px;
	display: flex;
	align-content: left;
	justify-content: left;
	align-items: left;
	width: 165px;
}
.tabcontent {
    -webkit-animation: fadeEffect 1s;
    animation: fadeEffect 1s; /* Fading effect takes 1 second */
}

@-webkit-keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}
#position-6 {
	margin-top: 100px;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	align-content: center;
	flex-direction: column;
	font-family: 'PT Mono', monospace;
	background: url('/images/org-bg.png') no-repeat 50% 50%;
	background-size: cover;
	height: 1450px;
}

#position-6 .header {
	font-size: 6.250em;
	font-weight: 700;
}
#position-6 .organization-box {
	margin-top: 120px;
  margin-bottom: 120px;
	display: flex;
	flex-wrap: wrap;
	justify-content: left;
	align-content: center;
	flex-direction: row;
}
#position-6 .block-1 .image {
	background: url('/images/ns.png') no-repeat 50% 50%;
	background-size: contain;
	width: 150px;
	height: 75px;
}
#position-6 .block-2 .image {
	background: url('/images/cmt.png') no-repeat 50% 50%;
	background-size: contain;
	width: 150px;
	height: 75px;
}
#position-6 .block-1 {
	font-family: 'PT Sans', sans-serif;
	width: 50%;
}
#position-6 .block-2 {
	font-family: 'PT Sans', sans-serif;
	width: 50%;
}
#position-6 .text-info {
	font-size: 0.8em;
	width: 60%;
}
#position-6 .header-partner {
	font-size: 3em;
	font-weight: 700;
	margin-top: 70px;
	margin-bottom: 35px;
}
#position-6 .partners {
	display: flex;
	justify-content: left;
	flex-wrap: wrap;
	align-content: center;
	flex-direction: row;
	margin-top: 110px;
}
#position-6 img {
	width: 21%;
	height: 5%;
	margin-left: 0;
	margin-right: 20px;
	margin-bottom: 50px;
}
#position-7 {
	margin-top: 50px;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	align-content: center;
	flex-direction: column;
	font-family: 'PT Mono', monospace;
}
#position-7 .header {
	font-size: 6.250em;
	font-weight: 700;
}
#position-7 .info {
	display: flex;
	justify-content: left;
	flex-wrap: wrap;
	align-content: center;
	flex-direction: row;
	margin-left: 8px;
}
#position-7 .info ul {
	display: flex;
	flex-wrap: wrap;
	align-content: center;
	flex-direction: row;
	margin-top: 20px;
	margin-bottom: 50px;
}
#position-7 .info ul li {
	font-family: 'PT Sans', monospace;
	font-size: 1.2em;
	margin-left: -5px;
	margin-right: 25px;
	display: flex;
	line-height: 50px;
	align-items: center;
}
#position-7 .form-header {
	font-size: 3em;
	font-weight: 700;
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: 3px;
}
#position-7 form {
	margin: 5px;
	display: flex;
	align-items: left;
	justify-content: left;
	flex-wrap: wrap;
	flex-direction: column;
}
.info-telegram {
	display: inline-flex;
	background: url('/images/telegram.png') no-repeat 50% 50%;
	width: 50px;
	height: 50px;
	margin-right: 20px;
	background-size: cover;
}
.info-email {
	display: inline-flex;
	background: url('/images/email.png') no-repeat 50% 50%;
	width: 50px;
	height: 50px;
	margin-right: 20px;
	background-size: cover;
}
#social-1 {
	margin: 10px;
}
#social-2 {
	margin: 10px;
}
#social-3 {
	margin: 10px;
}
@media screen and (min-width: 1440px) {
	#position-1 {
		background-size: cover;
	}
}
@media screen and (max-width: 1440px) {
	#position-3 .mini-box,  #position-3 .mini-box-2 {
		width: 45%;
	}
}